{
  "extends": ["airbnb", "airbnb/hooks"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "no-undef": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
